# Ignore xv6 source code
xv6

# Ignore compiled binaries
commands/*.asm
commands/*.o
commands/*.d

# Ignore submission artifacts
*.zip
*.patch

# Ignore temp build directory
_submit_tmp/

# Ignore test output
test_output.txt

.DS_Store